{% extends 'catalog/base.html' %}

{% block content %}
<h3>{{ title }}</h3>
    <div class="row">
        <div class="col-12 mt-5">
            <div class="card-12">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p>Хотите удалить пост?</p>
                        <button type="submit" class="btn btn-danger">Подтвердить
                        </button>
                        <a href="{% url 'blog:list' %}" class="btn btn-custom">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}