{% extends 'catalog/base.html'%}

{% block content %}
<section class="py-1 text-center container">
    <div class="row py-lg-4">
        <div class="mx-auto">
            <p class="lead text-center">Добро пожаловать на сайт компании Aperol</p>
            <p class="text-start">Aperol — вашего надежного партнера в мире изысканных коктейлей. Мы специализируемся на
                создании
                уникальных и незабываемых коктейльных решений для любого мероприятия. Наш ассортимент включает в себя
                как классические, так и авторские коктейли, которые помогут добавить неповторимый вкус и атмосферу
                вашему празднику.</p>
            <p class="text-start">На нашем сайте вы найдете подробную информацию о нашем меню, услугах по созданию
                коктейльных баров на
                заказ, а также советы по подбору напитков и рецепты для самостоятельного приготовления. Мы также
                предлагаем профессиональные барные услуги и индивидуальный подход к каждому клиенту, чтобы ваш праздник
                стал настоящим событием.</p>
            <p class="text-start">Погружайтесь в мир креативных напитков вместе с Aperol и сделайте ваше мероприятие
                особенным!</p>
        </div>
    </div>

    <div class="row py-lg-3">
        <div class="col-lg-6 col-md-8 mx-auto d-flex justify-content-center">
            <a class="btn btn-custom mx-2 " href="{% url 'catalog:menu' %}">Меню</a>
            <a class="btn btn-custom mx-2" href="{% url 'catalog:contacts' %}">Контактная информация</a>
        </div>
    </div>
</section>
{% endblock %}