{% extends 'catalog/base.html' %}
{% load image_tags %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-start mb-4">
                <a href="?" class="btn btn-custom me-2">Все категории</a>
                {% for category in categories %}
                <a href="?category={{ category.id }}{% if page_obj.has_other_pages %}&page={{ page_obj.number }}{% endif %}"
                   class="btn btn-custom me-2">
                    {{ category.name }}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        {% for cocktail in page_obj %}
        <div class="col-md-6 mb-3">
            <div class="card text-bg-light mb-3" style="height: 100%;">
                <div class="row g-0">
                    <div class="col-md-3">
                        {% if cocktail.image %}
                        {% render_image cocktail.image.url cocktail.name 'img-fluid rounded-start' %}
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ cocktail.name }}</h5>
                            <p class="card-text">
                                {{ cocktail.description|safe|slice:':100' }}
                                {% if cocktail.description|length > 100 %}...{% endif %}
                            </p>
                            <p class="card-text"><strong>Цена:</strong> {{ cocktail.price }} ₽</p>
                            <div class="col-12">
                                <div class="card-body">
                                    <a class="btn btn-custom m-2"
                                       href="{% url 'catalog:product_detail' pk=cocktail.id %}">Узнать больше</a>
                                    {% if user == cocktail.user or perms.catalog.can_delete_product%}
                                    <a class="btn btn-custom m-2"
                                       href="{% url 'catalog:update_product' pk=cocktail.id %}">Изменить</a>
                                    {% elif perms.catalog.can_change_product_description and perms.catalog.can_change_product_status and perms.catalog.can_change_product_category %}
                                    <a class="btn btn-custom m-2"
                                       href="{% url 'catalog:moderator_update_product' pk=cocktail.id %}">Изменить</a>
                                    {% endif %}
                                    {% if user == cocktail.user or perms.catalog.can_delete_product %}
                                    <a class="btn btn-custom m-2"
                                       href="{% url 'catalog:delete_product' pk=cocktail.id %}">Удалить</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <p class="card-footer">
                            Актуальная версия продукта:
                            {% if cocktail.active_version %}
                            {{ cocktail.active_version }}
                            {% else %}
                            Неизвестно
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}