{% extends 'catalog/base.html' %}
{% load image_tags %}
{% block content %}

<a href="{% url 'catalog:menu' %}" class="btn btn-custom position-absolute">Назад к списку товаров</a>

<div class="container mt-5">
    <div class="row mt-5">
        <!-- Изображение товара -->
        <div class="col-md-6">
            {% if product.image %}
            {% render_image product.image.url product.name 'img-fluid rounded-start' %}
            {% else %}
            <p>Изображение отсутствует</p>
            {% endif %}
        </div>

        <!-- Описание и цена товара -->
        <div class="col-md-6">
            <h1>{{ product.name }}</h1>
            <div class="mb-3">
                <p>{{ product.description|safe }}</p>
            </div>
            <p class="text-muted"><strong>Цена:</strong> {{ product.price }} ₽</p>


            <a href="#" class="btn btn-custom">
                <i class="bi bi-cart"></i> Добавить в корзину
            </a>
        </div>
    </div>
</div>

{% endblock %}