{% extends 'catalog/base.html'%}

{% block content %}
<div class="container d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <p>Хотите удалить продукт?</p>
                <button type="submit" class="btn btn-danger">Подтвердить
                </button>
                <a href="{% url 'catalog:menu' %}" class="btn btn-custom">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}